<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    
    <!-- Bootstrap core CSS -->
    <link href="@Html.Content("Content/css/bootstrap.min.css")" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="@Html.Content("Content/css/signin.css")" rel="stylesheet">
</head>

<body class="text-center" cz-shortcut-listen="true">
    <form id="signinForm" class="form-signin" data-action="DoLogin" data-controller="Login">
        <img class="mb-4" src="@Html.Content("Content/img/bootstrap-solid.svg")" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address : </label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" data-bind="Username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" data-bind="Password">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" onclick="WFazor.submit(signinForm)">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@Html.Content("Content/js/jquery-3.3.1.slim.min.js")"></script>
    <script src="@Html.Content("Content/js/popper.min.js")"></script>
    <script src="@Html.Content("Content/js/bootstrap.min.js")"></script>
    <script src="@Html.Content("Content/js/holder.min.js")"></script>
    <script src="@Html.Content("Content/js/wfazorlib.js")"></script>
    <script type="text/javascript">
    </script>
</body>
</html>